# Requirements for browser-calls-django

# Linter
flake8==3.7.8

# Django Framework
Django==3.2.0

# Third-party app dependencies
twilio==6.30.0
whitenoise==4.1.3
phonenumbers==8.10.17
python-dotenv==0.10.3

# Production dependencies
gunicorn==19.9.0

# Test dependencies
coverage==7.2.2
mock==3.0.5
model-mommy==1.6.0
xmlunittest==0.5.0
vcrpy==2.1.0
