interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://taskrouter.twilio.com/v1/Workspaces?FriendlyName=Twilio+Workspace
  response:
    body: {string: !!python/unicode '{"code": 20003, "detail": "Your AccountSid or
        AuthToken was incorrect.", "message": "Authentication Error - No credentials
        provided", "more_info": "https://www.twilio.com/docs/errors/20003", "status":
        401}'}
    headers:
      content-type: [application/json; charset=utf-8]
      twilio-request-duration: ['0.002']
      twilio-request-id: [RQb6597ab2123c4f1ea291b654cd30aaad]
      www-authenticate: [Basic realm="Twilio API"]
      x-shenanigans: [none]
    status: {code: 401, message: UNAUTHORIZED}
- request:
    body: null
    headers:
    method: GET
    uri: https://taskrouter.twilio.com/v1/Workspaces?FriendlyName=Twilio+Workspace
  response:
    body: {string: !!python/unicode '{"meta": {"page": 0, "page_size": 50, "first_page_url":
        "https://taskrouter.twilio.com/v1/Workspaces?FriendlyName=Twilio+Workspace&PageSize=50&Page=0",
        "previous_page_url": null, "url": "https://taskrouter.twilio.com/v1/Workspaces?FriendlyName=Twilio+Workspace&PageSize=50&Page=0",
        "next_page_url": null, "key": "workspaces"}, "workspaces": [{"sid": "WScaaa5c6293cc4e911391e4a9d7a554e4",
        "account_sid": "<account_sid>", "friendly_name": "Twilio Workspace", "event_callback_url":
        "http://example.com/events", "default_activity_sid": "WAaf5e44a8b65fd6b9911c3885136f187e",
        "date_created": "2016-07-11T15:25:40Z", "date_updated": "2016-07-11T15:25:40Z",
        "default_activity_name": "Offline", "timeout_activity_sid": "WAaf5e44a8b65fd6b9911c3885136f187e",
        "timeout_activity_name": "Offline", "events_filter": null, "multi_task_enabled":
        false, "url": "https://taskrouter.twilio.com/v1/Workspaces/WScaaa5c6293cc4e911391e4a9d7a554e4",
        "links": {"activities": "https://taskrouter.twilio.com/v1/Workspaces/WScaaa5c6293cc4e911391e4a9d7a554e4/Activities",
        "task_queues": "https://taskrouter.twilio.com/v1/Workspaces/WScaaa5c6293cc4e911391e4a9d7a554e4/TaskQueues",
        "statistics": "https://taskrouter.twilio.com/v1/Workspaces/WScaaa5c6293cc4e911391e4a9d7a554e4/Statistics",
        "tasks": "https://taskrouter.twilio.com/v1/Workspaces/WScaaa5c6293cc4e911391e4a9d7a554e4/Tasks",
        "workers": "https://taskrouter.twilio.com/v1/Workspaces/WScaaa5c6293cc4e911391e4a9d7a554e4/Workers",
        "workflows": "https://taskrouter.twilio.com/v1/Workspaces/WScaaa5c6293cc4e911391e4a9d7a554e4/Workflows",
        "task_channels": "https://taskrouter.twilio.com/v1/Workspaces/WScaaa5c6293cc4e911391e4a9d7a554e4/TaskChannels"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      twilio-request-duration: ['0.037']
      twilio-request-id: [RQfadc952f799e4810ab76a7b2310c635d]
      x-shenanigans: [none]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://taskrouter.twilio.com/v1/Workspaces/WScaaa5c6293cc4e911391e4a9d7a554e4
  response:
    body: {string: !!python/unicode '{"code": 20003, "detail": "Your AccountSid or
        AuthToken was incorrect.", "message": "Authentication Error - No credentials
        provided", "more_info": "https://www.twilio.com/docs/errors/20003", "status":
        401}'}
    headers:
      content-type: [application/json; charset=utf-8]
      twilio-request-duration: ['0.002']
      twilio-request-id: [RQ68d06953157942a9a5001871fa16755e]
      www-authenticate: [Basic realm="Twilio API"]
      x-shenanigans: [none]
    status: {code: 401, message: UNAUTHORIZED}
[...]
- request:
    body: !!python/unicode FriendlyName=Twilio+Workspace&EventCallbackUrl=http%3A%2F%2Fexample.com%2Fevents
    headers:
      content-type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://taskrouter.twilio.com/v1/Workspaces
  response:
    body: {string: !!python/unicode '{"code": 20003, "detail": "Your AccountSid or
        AuthToken was incorrect.", "message": "Authentication Error - No credentials
        provided", "more_info": "https://www.twilio.com/docs/errors/20003", "status":
        401}'}
    headers:
      content-type: [application/json; charset=utf-8]
      twilio-request-duration: ['0.002']
      twilio-request-id: [RQ142341e407754791930095e0a2656bf7]
      www-authenticate: [Basic realm="Twilio API"]
      x-shenanigans: [none]
    status: {code: 401, message: UNAUTHORIZED}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/Activities
  response:
    body: {string: !!python/unicode '{"code": 20003, "detail": "Your AccountSid or
        AuthToken was incorrect.", "message": "Authentication Error - No credentials
        provided", "more_info": "https://www.twilio.com/docs/errors/20003", "status":
        401}'}
    headers:
      content-type: [application/json; charset=utf-8]
      twilio-request-duration: ['0.002']
      twilio-request-id: [RQda25581aeda145c5a34656a07a71e677]
      www-authenticate: [Basic realm="Twilio API"]
      x-shenanigans: [none]
    status: {code: 401, message: UNAUTHORIZED}
- request:
    body: null
    headers:
    method: GET
    uri: https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/Activities
  response:
    body: {string: !!python/unicode '{"activities": [{"sid": "WA94672b43ad2fe2101bd6cff3585e082c",
        "account_sid": "<account_sid>", "workspace_sid": "WS4c04fd4fd2c4e567b659ade4cbf748e2",
        "friendly_name": "Offline", "available": false, "date_created": "2016-07-11T15:30:19Z",
        "date_updated": "2016-07-11T15:30:19Z", "url": "https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/Activities/WA94672b43ad2fe2101bd6cff3585e082c",
        "links": {"workspace": "https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2"}},
        {"sid": "WA73a98ed019bb2dfe8e004eb5daf73088", "account_sid": "<account_sid>",
        "workspace_sid": "WS4c04fd4fd2c4e567b659ade4cbf748e2", "friendly_name": "Idle",
        "available": true, "date_created": "2016-07-11T15:30:19Z", "date_updated":
        "2016-07-11T15:30:19Z", "url": "https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/Activities/WA73a98ed019bb2dfe8e004eb5da[...]
- request:
    body: !!python/unicode FriendlyName=Alice&Attributes=%7B%22contact_uri%22%3A+%22%2B15005550008%22%2C+%22products%22%3A+%5B%22ProgrammableVoice%22%5D%7D&ActivitySid=WA73a98ed019bb2dfe8e004eb5daf73088
    headers:
      content-type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/Workers
  response:
    body: {string: !!python/unicode '{"code": 20003, "detail": "Your AccountSid or
        AuthToken was incorrect.", "message": "Authentication Error - No credentials
        provided", "more_info": "https://www.twilio.com/docs/errors/20003", "status":
        401}'}
    headers:
      content-type: [application/json; charset=utf-8]
      twilio-request-duration: ['0.003']
      twilio-request-id: [RQeb0ce7f10cf64ac9ba6bbf93d4cdb016]
      www-authenticate: [Basic realm="Twilio API"]
      x-shenanigans: [none]
    status: {code: 401, message: UNAUTHORIZED}
- request:
    body: !!python/unicode FriendlyName=Alice&Attributes=%7B%22contact_uri%22%3A+%22%2B15005550008%22%2C+%22products%22%3A+%5B%22ProgrammableVoice%22%5D%7D&ActivitySid=WA73a98ed019bb2dfe8e004eb5daf73088
    headers:
      content-type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/Workers
  response:
    body: {string: !!python/unicode '{"sid": "WK46dbcd93c6f233a8e4004a8b379dd28f",
        "friendly_name": "Alice", "account_sid": "<account_sid>", "activity_sid":
        "WA73a98ed019bb2dfe8e004eb5daf73088", "activity_name": "Idle", "workspace_sid":
        "WS4c04fd4fd2c4e567b659ade4cbf748e2", "attributes": "{\"contact_uri\":\"+15005550008\",\"products\":[\"ProgrammableVoice\"]}",
        "available": true, "date_created": "2016-07-11T15:30:21Z", "date_updated":
        "2016-07-11T15:30:21Z", "date_status_changed": "2016-07-11T15:30:21Z", "url":
        "https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/Workers/WK46dbcd93c6f233a8e4004a8b379dd28f",
        "links": {"channels": "https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/Workers/WK46dbcd93c6f233a8e4004a8b379dd28f/Channels",
        "activity": "https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/Activities/WA73a98ed019bb2dfe8e004eb5daf73088",
        "workspace": "https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      twilio-request-duration: ['0.041']
      twilio-request-id: [RQ0cc67b3420554e4a9fc0031b3961e450]
      x-shenanigans: [none]
    status: {code: 201, message: CREATED}
[...]
- request:
    body: !!python/unicode FriendlyName=Default&AssignmentActivitySid=WAbddabca699bf6826bf59ac7ef6c8795d&TargetWorkers=1%3D%3D1&ReservationActivitySid=WA2985e8511b79c2ba5aec254844a660b9
    headers:
      content-type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/TaskQueues
  response:
    body: {string: !!python/unicode '{"code": 20003, "detail": "Your AccountSid or
        AuthToken was incorrect.", "message": "Authentication Error - No credentials
        provided", "more_info": "https://www.twilio.com/docs/errors/20003", "status":
        401}'}
    headers:
      content-type: [application/json; charset=utf-8]
      twilio-request-duration: ['0.003']
      twilio-request-id: [RQ0eb4945b06024ae1948f498ec46f7086]
      www-authenticate: [Basic realm="Twilio API"]
      x-shenanigans: [none]
    status: {code: 401, message: UNAUTHORIZED}
- request:
    body: !!python/unicode FriendlyName=Default&AssignmentActivitySid=WAbddabca699bf6826bf59ac7ef6c8795d&TargetWorkers=1%3D%3D1&ReservationActivitySid=WA2985e8511b79c2ba5aec254844a660b9
    headers:
      content-type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/TaskQueues
  response:
    body: {string: !!python/unicode '{"sid": "WQ21c4f6ed124e49d0f4048097f58f326d",
        "account_sid": "<account_sid>", "workspace_sid": "WS4c04fd4fd2c4e567b659ade4cbf748e2",
        "friendly_name": "Default", "target_workers": "1==1", "max_reserved_workers":
        1, "reservation_activity_sid": "WA2985e8511b79c2ba5aec254844a660b9", "reservation_activity_name":
        "Reserved", "assignment_activity_sid": "WAbddabca699bf6826bf59ac7ef6c8795d",
        "assignment_activity_name": "Busy", "date_created": "2016-07-11T15:30:23Z",
        "date_updated": "2016-07-11T15:30:23Z", "url": "https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/TaskQueues/WQ21c4f6ed124e49d0f4048097f58f326d",
        "links": {"assignment_activity": "https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/Activities/WAbddabca699bf6826bf59ac7ef6c8795d",
        "reservation_activity": "https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2/Activities/WA2985e8511b79c2ba5aec254844a660b9",
        "workspace": "https://taskrouter.twilio.com/v1/Workspaces/WS4c04fd4fd2c4e567b659ade4cbf748e2"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      twilio-request-duration: ['0.092']
      twilio-request-id: [RQ14ab65bc53704809960feff09c170dfe]
      x-shenanigans: [none]
    status: {code: 201, message: CREATED}
[...]
- request:
    body: !!python/unicode FriendlyName=Sales&TaskReservationTimeout=15&Configuration=%7B%0A++++%22task_routing%22%3A+%7B%0A++++++++%22default_filter%22%3A+%7B%0A++++++++++++%22expression%22%3A+%221%3D%3D1%22%2C+%0A++++++++++++%22priority%22%3A+1%2C+%0A++++++++++++%22queue%22%3A+%22WQ21c4f6ed124e49d0f4048097f58f326d%22%2C+%0A++++++++++++%22timeout%22%3A+30%0A++++++++%7D%2C+%0A++++++++%22filters%22%3A+%5B%0A++++++++++++%7B%0A++++++++++++++++%22expression%22%3A+%22selected_product%3D%3D[...]
[...]
