{% extends "base.html" %}

{% block title %}Missed Calls{% endblock title %}

{% block content %}
<div class="container full-height-container">
    <div class="panel panel-default">
      <div class="panel-heading">Missed Calls</div
      <!-- Table -->
      <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
          {% for missed_call in missed_calls %}
            <tr>
                <td>{{ missed_call.selected_product }}</td>
                <td>{{ missed_call.phone_number }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
 </div>
</div>
{% endblock %}
