{% extends "base.html" %}

{% block title %}Missed Calls{% endblock title %}

{% block content %}
<div class="container full-height-container">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Missed calls</strong> <span class="text-muted">Product/Number<span></div>
      <!-- Table -->
      <table class="table">
        <tbody>
          {% for missed_call in missed_calls %}
            <tr>
                <td><strong>{{ missed_call.selected_product }}</strong></td>
                <td><a href="tel:{{ missed_call.phone_number }}">{{ missed_call.formatted_phone }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
 </div>
</div>
{% endblock %}
